body {
  background-image: url("../images/fondo.jpg"); }

h4 {
  color: #4C2B0D; }

h1 {
  color: #4C2B0D; }

h2 {
  color: #473c1f; }

textarea {
  width: 20rem;
  height: 10rem;
  resize: none; }

a {
  text-decoration: none;
  display: inline-block; }

html {
  scroll-behavior: smooth; }

.tituloRecetas {
  margin-bottom: 2rem; }

.tituloIndex {
  margin-bottom: 5rem; }

.navbar {
  background-color: transparent !important; }

.card {
  border-radius: 10px;
  background-color: cornsilk;
  width: 25rem !important; }

.titulosCartas {
  margin: 1rem 0; }

.contenedor {
  width: 75%; }

.contenedorTexto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.selectorCompartir, .selectorContacto {
  display: flex;
  justify-content: center; }

.contenedorCompartir, .contenedorContacto {
  text-align: center;
  margin-bottom: 1vh; }

.espacioCompartir {
  margin-top: 2vh; }

.fotosCompartir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contenedorContacto {
  margin-top: 2vh; }

.selectorContacto {
  margin-top: 2vh;
  --bs-body-font-size: 0.9rem
; }

.titulosBuscar__secciones {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.buscarBotones {
  display: flex;
  justify-content: center; }

.btn {
  margin: 1rem 0.5rem;
  background-color: #e05410;
  border-color: #e05410;
  color: white; }

.btn-primary:hover {
  color: #fff;
  background-color: #e05410;
  border-color: #e05410; }

.pie {
  background-color: #db6930;
  margin-top: 2rem; }

.pieVideos {
  background-color: #db6930;
  margin-top: 13rem; }

.custom-select {
  padding: 0.5rem; }

.formContacto, .formCompartir {
  margin: 2rem 20rem;
  margin-bottom: 4rem; }

.tituloContacto {
  margin-bottom: 1.5rem; }

@media screen and (max-width: 991px) {
  .cartas {
    flex-direction: column; }
  .card {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto; }
  .contenedorPadre {
    flex-direction: column; }
  .contenedor {
    margin: 0 auto; }
  .pieVideos {
    margin-top: 2rem; }
  .formContacto, .formCompartir {
    margin: 2rem 1rem; }
  .formCompartir {
    margin: 2rem 6rem; } }

@media screen and (max-width: 487px) {
  .card {
    width: 95% !important; }
  .formCompartir {
    margin: 2rem 4rem; }
  .buscarBotones {
    flex-direction: column;
    align-items: center; }
  .buscarBotones a {
    width: 85%;
    margin-left: -1rem; }
    .buscarBotones a button {
      width: 100%; } }
