$color1:#4C2B0D;
$color2:#473c1f;
$tamTitulos: 2rem;

body {
  background-image: url("../images/fondo.jpg");
}
h4{
  color: $color1;
}
h1{
  color:$color1;
}
h2{
  color:$color2;
}
.tituloRecetas{
  margin-bottom: 2rem;
}
.tituloIndex{
  margin-bottom: 5rem;
}
.navbar{
  background-color: transparent;
}
.card{
  border-radius: 10px;
  background-color: cornsilk;
}
.titulosCartas{
  margin: 1rem 0rem;
}
.contenedor {
  width: 75%;
}
.contenedorTexto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .cartas {
    flex-direction: column;
  }
  .card{
    margin-bottom: 2rem;
    margin-left:auto;
    margin-right: auto;
  }
  .contenedorPadre{
    flex-direction: column;
  }
  .contenedor{
    margin: 0 auto;
  }
}