*{
    margin:0;
    padding:0;
}
html{
    height:100%;
}
body{
    background-image: url("../images/fondo.jpg");
    font-family: 'Roboto Light', sans-serif;
    display:flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
}
main{
    margin: 1rem;
}
header{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.logo{
    width: 6em;
    height: 6em;
    float: left;
    position: sticky;
}


.barraNav{
    display: inline-flex;
    float: left;
    margin-left: 5em;

}

.barraNav__lista{
    list-style:none;
    display: inline-flex;
    text-align: center;
    column-gap: 1em;
}

.barraNav__textoNav{
    color: #4C2B0D;
    text-decoration: none;
    font-size: 25px;
}

.titulo{
    margin-left: 40rem;
}

.titulo__texto{
    color: #4C2B0D;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 50px;

}

.articulos{
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
}
.articulos__contenedor{
    display: inline-flex;
    margin: 2rem 12rem ;
}
.articulos__titulos{
    margin-bottom: 2rem;
    font-size: 30px;
}
.articulos__imagenes{
    width: 18rem;
    height: 16rem;
}
.articulos__contenido{
    text-align: center;
    margin-right: 8rem;

}
.articulos__texto{
    color: #4C2B0D;
    text-align: justify;
    font-size: 20px;
}
.pie{
    position: sticky;
    top:100%;
}
.pie__linea{
    border-top: solid;
    border-top-color: #4C2B0D;
}
.pie__logo{
    width: 6rem;
    height: 6rem;
    padding: 1rem 2rem;
    float:left;
}
.pie__autor{
    display: inline;
    float:left;
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 20px;

}
.barraBuscar{
    margin-top: 2rem;
    margin-left: 11rem;
}
.barraBuscar__contenedor{
    align-items: center;
    display: flex;
}
.barraBuscar__texto{
    font-size: 25px;
    margin-right: 1rem;
}
.barraBuscar__input{
    height: 25px;
    width: 25rem;
    margin-right: 1rem;
}
.barraBuscar__boton{
    text-align: center;
    padding: 5px 1rem;
    font-size: 15px;
}
.video{
    margin:1rem;
    border: solid;
    border-color: #4C2B0D;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
}
.video__titulo{
    font-size: 25px;
    margin-left: 3rem;
}
.video__cont{
    margin: 3rem 2rem;
}
.videoGrid{
    display: grid;
    grid-template-areas:
    "vi1 t1"
    "vi2 t2"
    "vi3 t3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    width:100%;
    justify-items: center;

}
.videoGrid__contenido{
    width: 500px;

}
.videoGrid__contenido--titulo{
    margin-top: 42px;
    font-size: 30px;
}
.videoGrid__contenido--lista{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 15px;
    font-size: 22px;

}

#item1{
    grid-area: vi1;
}
#item2{
    grid-area: t1
}
#item3{
    grid-area: vi2;
}
#item4{
    grid-area: t2;
}
#item5{
    grid-area: vi3;
}
#item6{
    grid-area: t3;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left:10rem;
    border: solid;
    border-color: #4C2B0D;
    margin: 1rem;
    margin: 3rem 20rem;
}
.contacto__titulo{
    margin-left: -7rem;
    font-size: 25px;
}
.contacto__opciones{
    display: inline-flex;
    margin-top: 1rem;
}
.contacto__opciones--label{
    font-weight: bold;
}
.contacto__opciones--selector{
    margin-left: 1rem;
}
.contacto__table{
    margin-top: 2rem;
}
.contacto__table--titulo{
    margin-bottom: 1rem;
    font-size: 25px;
}
.contacto__table--email{
    width: 15rem;
}
.contacto__table--input{
    margin-right: 1rem;
}
.contacto__botones{
    margin-bottom: 1rem;
}
.contacto__botones--reset{
    text-align: center;
    padding: 5px 1rem;
    font-size: 15px;
    margin-top: 1rem;
}
.contacto__botones--enviar{
    text-align: center;
    padding: 5px 1rem;
    font-size: 15px;
}
.contacto__contenedor{
    margin-left: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.compartir{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left:10rem;
    border: solid;
    border-color: #4C2B0D;
    margin: 1rem;
    margin: 3rem 10rem;

}
.compartir__titulo{
    margin-left: -7rem;
    font-size: 25px;
}
.compartir__tabla{
    margin-top: 3rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
}
.compartir__columnas--text{
    margin: 1rem 3rem;
    width: 20rem;
    height: 15rem;
    resize: none;

}
.compartir__tabla--nombres{
    font-size: 25px;
}
.compartir__botones{
    margin-bottom: 2rem;
    margin-left: 9rem;
}
.compartir__botones--enviar{
    text-align: center;
    padding: 5px 1rem;
    font-size: 15px;
    margin-top: 1rem;
}
.compartir__botones--reset{
    text-align: center;
    padding: 5px 1rem;
    font-size: 15px;
    margin-top: 1rem;
    margin-right: 1rem;
}